/*.box {
  overflow: hidden;
  clear: both;
}
.box .inner {
  overflow: hidden;
  padding: 0 10px 10px;
}
.box .inner .title {
  background-color: #f37226;
  color: #fff;
  padding: 10px;
}
.box .inner .title .material-icons {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.box .inner .title h2 {
  display: inline-block;
  vertical-align: middle;
  font-weight: lighter;
}
.box .content {
  padding: 20px;
  background-color: #fff;
  overflow: hidden;
}
.box .content .list-social li {
  display: inline-block;
  padding-right: 10px;
  margin-bottom: 0;
}
.box .content .list-social li a {
  border-radius: 5px;
}*/
.placeholder-error {
  margin-top: 8px;
  color: #d9534f;
}
