.box-information .list-icon li:not(:last-child) {
  opacity: 0;
  display: none;
}
.box-information .list-icon:hover li {
  opacity: 1;
  display: inline-block;
}
.box-information .list-icon li.share img {
  position: relative;
  top: 5px;
  left: -1px;
}
.box-information .content {
  background-color: #fff;
  padding-top: 45px;
}
.box-information .content p {
  margin: 0;
  padding: 20px;
  line-height: 1.4em;
  font-size: 14px;
}
.box-information .connection-btn {
  position: absolute;
  top: 122px;
  left: 135px;
  background: transparent;
}
.box-information .connection-btn .btn {
  margin: 0 5px;
}
.box-information .background-cover {
  background-color: #f37226;
}
.box-information .table {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 15px;
}
.box-information .table .tr {
  display: table-row;
}
.box-information .table .tr:first-child .td {
  border-bottom: 1px solid #eeeeee;
}
.box-information .table .tr .td:not(:last-child) {
  border-right: 1px solid #eeeeee;
}
.box-information .table .tr .th,
.box-information .table .tr .td {
  display: table-cell;
  padding: 10px;
  text-align: center;
}
.user-wallet {
  position: absolute;
  top: 115px;
  left: 150px;
}
.user-wallet > p {
  padding: 10px 18px;
  background: #2C98F0;
  border-radius: 25px;
  color: white;
  font-size: 18px;
}
.user-wallet > p > span {
  margin-left: 5px;
}
.user-wallet > p > i {
  position: relative;
  top: 2px;
  margin-right: 10px;
  font-size: 18px;
}
